body {
  font-family: 'Noto Sans TC', sans-serif;
  font-family: "Noto Serif TC", serif;
  font-family: "Yeseva One", cursive;
  color: $primary;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  object-fit: cover;
}