@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;700&family=Noto+Serif+TC:wght@400;700&family=Yeseva+One&display=swap');

.font-Yeseva {
  font-family: 'Yeseva One', cursive;
}

.font-notoSans {
  font-family: 'Noto Sans TC', sans-serif;
}

.font-notoSerif {
  font-family: "Noto Serif TC", serif;
}