<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>7TAO｜Booking Event</title>
  <meta name="author" content="JessieChen" />
  <meta name="copyright" content="版權所有，追載必究" />
  <meta name="description" content="想知道更多有趣的活動嗎？快來 7TAO 活動訂票網">
  <meta name="keyword" content="7TAO, 7TAO 活動訂票網, 活動訂票網, Booking Event" />
  <!-- OG -->
  <meta property="og:title" content="7TAO｜Booking Event" />
  <meta property="og:description" content="想知道更多有趣的活動嗎？快來 7TAO 活動訂票網" />
  <meta property="og:url" content="https://cestjessie.github.io/-hex-Booking-Event-7TAO-w6-/" />
  <meta property="og:image"
    content="https://raw.githubusercontent.com/cestJessie/-hex-Booking-Event-7TAO-w6-/main/assets/images/event/13.jpg" />
  <meta property="og:site_name" content="7TAO｜Booking Event" />
  <meta property="og:type" content="website" />

  <!-- FAVICON -->
  <link rel="shortcut icon" href="../assets/images/logo.png">
  <!-- icofont -->
  <link rel="stylesheet" href="../assets/icofont/icofont.min.css">
  <!-- MARQUEE SWIPER -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>