<nav class="navbar py-md-6 py-3 border-bottom border-3 border-primary">
  <div class="container">
  <h1 class="website-7TAO__logo mb-0 me-md-4">
    <a href="./index.html">7TAO</a>
  </h1>
</div>
</nav>