<div class="recent__area row mb-3">
  <div class="recent__title col-12 mb-md-8 mb-6">
    <div
      class="border border-2 border-primary d-flex justify-content-between align-items-center py-md-6 px-md-8 py-4 px-3">
      <p class="fs-md-11 fs-4 ">RECENT</p>
      <p class="fs-md-2 fs-6 fw-bold font-notoSerif">近期活動</p>
    </div>
  </div>
  <div class="recent__card__area">
    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mb-md-12 mb-6 d-flex flex-column">
        <a href="single-event.html" class="d-flex flex-column flex-grow-1">
          <h2 class="border-bottom border-primary border-3 fs-md-10 fs-2 mb-md-3 mb-4 pb-md-3 pb-2">19 MAY 2023</h2>
          <img src="../assets/images/event/01.jpg" alt="邪典電影派對——房間" class="card__item__img mb-md-3 mb-2 img__hover">
          <h3 class="fs-md-4 fs-8 fw-bold font-notoSerif mb-md-3 mb-2">邪典電影派對——房間</h3>
          <p class="lh-base pb-4 border-bottom border-2 border-primary font-notoSans mb-0 text-justify flex-grow-1">你有聽說過「大災難家」裡面的主角Tommy Wiseau製作的「史上最爛的電影」——房間嗎？在美國甚至演變成一種邪教、一種派對的形式，在電影播放的對著螢幕丟湯匙都...</p>
        </a>
        <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-primary py-md-3 py-2">
          <a href="#" class="d-flex align-items-center
        font-notoSerif fw-bold left__activity__link"><img src="../assets/images/sparkler.png"
              class="btn__left__sparkler  img-fluid me-1" alt="sparkler-icon">社群活動</a>
          <a href="#" class="d-flex align-items-center font-notoSans fw-bold right__activity__link "
            data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 <span class="ms-1">&raquo;</span></a>
        </div>
      </div>
      <div class="col-lg-4 col-md-6 col-12 mb-md-12 mb-6 mb-6 d-flex flex-column">
        <a href="single-event.html" class="d-flex flex-column flex-grow-1">
          <h2 class="border-bottom border-primary border-3 fs-md-10 fs-2 mb-md-3 mb-4 pb-md-3 pb-2">23 MAY 2023</h2>
          <img src="../assets/images/event/02.jpg" alt="怪舞俱樂部" class="card__item__img mb-md-3 mb-2 img__hover">
          <h3 class="fs-md-4 fs-8 fw-bold font-notoSerif mb-md-3 mb-2">怪舞俱樂部</h3>
          <p class="lh-base pb-4 border-bottom border-2 border-primary font-notoSans mb-0 text-justify flex-grow-1">
            覺得自己的舞蹈細胞異於常人？每次隨著音樂起舞身邊的人總是露出無法理解的表情？來這裡就對了！來參加這場一起跳舞的聚會，也會在每一次的舞會中選出舞步最怪的...</p>
        </a>
        <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-primary py-md-3 py-2">
          <a href="#" class="d-flex align-items-center
        font-notoSerif fw-bold left__activity__link"><img src="../assets/images/sparkler.png"
              class="btn__left__sparkler  img-fluid me-1" alt="sparkler-icon">演出</a>
          <a href="#" class="d-flex align-items-center font-notoSans fw-bold right__activity__link "
            data-bs-toggle="modal" data-bs-target="#exampleModal">檢視活動 <span class="ms-1">&raquo;</span></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12 mb-md-12 mb-6 d-flex flex-column">
        <a href="single-event.html" class="d-flex flex-column flex-grow-1">
          <h2 class="border-bottom border-primary border-3 fs-md-10 fs-2 mb-md-3 mb-4 pb-md-3 pb-2">30 MAY 2023</h2>
          <img src="../assets/images/event/03.jpg" alt="哈利波特馬拉松" class="card__item__img mb-md-3 mb-2 img__hover">
          <h3 class="fs-md-4 fs-8 fw-bold font-notoSerif mb-md-3 mb-2">哈利波特馬拉松</h3>
          <p class="lh-base pb-4 border-bottom border-2 border-primary font-notoSans mb-0 text-justify flex-grow-1">
            每次身邊有人開啟哈利波特的話題，自己永遠都是聽不懂的那個麻瓜？看大家在討論魁地奇、用咒語鬥法的時候，自己永遠是陪笑的那個人？穿好你的法袍、帶上你的法杖...</p>
        </a>
        <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-primary py-md-3 py-2">
          <a href="#" class="d-flex align-items-center
        font-notoSerif fw-bold left__activity__link"><img src="../assets/images/sparkler.png"
              class="btn__left__sparkler  img-fluid me-1" alt="sparkler-icon">聯誼</a>
          <a href="#" class="d-flex align-items-center font-notoSans fw-bold right__activity__link "
            data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 <span class="ms-1">&raquo;</span></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12  mb-6 mb-md-12 d-flex flex-column">
        <a href="single-event.html" class="d-flex flex-column flex-grow-1">
          <h2 class="border-bottom border-primary border-3 fs-md-10 fs-2 mb-md-3 mb-4 pb-md-3 pb-2">12 June 2023</h2>
          <img src="../assets/images/event/04.jpg" alt="皮卡丘排球大賽" class="card__item__img mb-md-3 mb-2 img__hover">
          <h3 class="fs-md-4 fs-8 fw-bold font-notoSerif mb-md-3 mb-2">皮卡丘排球大賽</h3>
          <p class="lh-base pb-4 border-bottom border-2 border-primary font-notoSans mb-0 text-justify flex-grow-1">
            還記得小時候玩的小遊戲嗎？總是有朋友吹噓自己獨孤求敗、只求一敗？是時候該展現真正的實力了！本活動採用瑞士制賽程，以絕對公平的方式進行，是時候該證明自己...</p>
        </a>
        <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-primary py-md-3 py-2">
          <a href="#" class="d-flex align-items-center
        font-notoSerif fw-bold left__activity__link"><img src="../assets/images/sparkler.png"
              class="btn__left__sparkler  img-fluid me-1" alt="sparkler-icon">遊戲競賽</a>
          <a href="#" class="d-flex align-items-center font-notoSans fw-bold right__activity__link "
            data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 <span class="ms-1">&raquo;</span></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12  mb-6 mb-md-12 d-flex flex-column">
        <a href="single-event.html" class="d-flex flex-column flex-grow-1">
          <h2 class="border-bottom border-primary border-3 fs-md-10 fs-2 mb-md-3 mb-4 pb-md-3 pb-2">25 June 2023</h2>
          <img src="../assets/images/event/05.jpg" alt="酒精路跑" class="card__item__img mb-md-3 mb-2 img__hover">
          <h3 class="fs-md-4 fs-8 fw-bold font-notoSerif mb-md-3 mb-2">酒精路跑</h3>
          <p class="lh-base pb-4 border-bottom border-2 border-primary font-notoSans mb-0 text-justify flex-grow-1">
            身邊總是有對自己酒量有高度自信的朋友嗎？拉著他/她一起來參加酒精路跑吧！一起拍下第一杯直到倒下為止的照片，一起喝遍市區內各家極具品味的酒吧。</p>
        </a>
        <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-primary py-md-3 py-2">
          <a href="#" class="d-flex align-items-center
        font-notoSerif fw-bold left__activity__link"><img src="../assets/images/sparkler.png"
              class="btn__left__sparkler  img-fluid me-1" alt="sparkler-icon">社群活動</a>
          <a href="#" class="d-flex align-items-center font-notoSans fw-bold right__activity__link "
            data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 <span class="ms-1">&raquo;</span></a>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-12 mb-6 mb-md-12 d-flex flex-column">
        <a href="single-event.html" class="d-flex flex-column flex-grow-1">
          <h2 class="border-bottom border-primary border-3 fs-md-10 fs-2 mb-md-3 mb-4 pb-md-3 pb-2">09 July 2023</h2>
          <img src="../assets/images/event/06.jpg" alt="展覽——我的房間" class="card__item__img mb-md-3 mb-2 img__hover">
          <h3 class="fs-md-4 fs-8 fw-bold font-notoSerif mb-md-3 mb-2">展覽——我的房間</h3>
          <p class="lh-base pb-4 border-bottom border-2 border-primary font-notoSans mb-0 text-justify flex-grow-1">
            每個人的房間總會有那麼一兩個能代表自己的物事，或許是再平凡不過的牙刷、馬克杯，或許有那些別人的房間從沒出現過的小東西——那些能定義自己的特別的東西。</p>
        </a>
        <div class="bottom-btn d-flex justify-content-between border-bottom border-2 border-primary py-md-3 py-2">
          <a href="#" class="d-flex align-items-center
        font-notoSerif fw-bold left__activity__link"><img src="../assets/images/sparkler.png"
              class="btn__left__sparkler  img-fluid me-1" alt="sparkler-icon">展覽</a>
          <a href="#" class="d-flex align-items-center font-notoSans fw-bold right__activity__link "
            data-bs-toggle="modal" data-bs-target="#exampleModal">開賣中 <span class="ms-1">&raquo;</span></a>
        </div>
      </div>
    </div>
  </div>
</div>

<!--  Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content text-center rounded-0">
      <div class="modal-header border-bottom border-3 border-primary d-flex justify-content-center">
        <h4 class="modal-title fs-4 mx-auto" id="exampleModalLabel">立刻成為7TAO會員</h4>
        <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body py-5">
        <p>
          立刻成為七逃會員，加速活動報名流程並取得活動優惠資訊。<br>
          您也可以先報名活動，日後再註冊帳號，<br>
          系統會在認證您的Email後，協助您找回舊的訂單。
        </p>
        <button type="button" class="btn btn-primary mt-4 px-4 py-2 modal-btn rounded-0 border-0 ">立即成為會員</button>
      </div>
    </div>
  </div>
</div>