// Header-nav
.website-7TAO__logo a {
  display: block;
  background-image: url(../images/logo.png);
  background-size: cover;
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 53px;
  height: 53px;

  @mixin Mobile {
    width: 40px;
    height: 40px;
  }
}

.search__input {
  width: 335px;

  &__button {
    color: $secondary;

    &:hover {
      color: $white;
    }
  }

  @include Mobile {
    width: 207px;
  }
}

.navbar-toggler {
  color: transparent;
  border: 2px solid $primary;
}